


<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load bootstrap4 %}
    {% include 'bootstrap/load_icons.html' %}
    {% load static %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    

    <link rel="icon"href="{% static 'favicon.ico' %}">
    {% load i18n %}
    <title>
        {% block title %}
        {{ page_title|default:"Lobo Organizado" }} 
        {% endblock title %}
    </title>
</head>

{% block body %}
<body>
    <div class="container-fluid">

   
    <div class="container-md">

        {% block logstatus %}

    <div>
        <span class="btn btn-outline-dark" disabled="true" > {% now "DATETIME_FORMAT" %}</span>
        <span class="btn btn-outline-dark" disabled="true" >{% if user.is_authenticated %} USUARIO: {{ request.user.username }} </span>  <a class="btn btn-warning" href="/accounts/logout" >LOG OUT</a> {% else %} Debe ingresar con su usuario  <a class="btn btn-warning" href="/accounts/login" >LOG IN</a> {% endif %} 
    </div>

        {% endblock logstatus %}

        {% include 'navbar.html' %}
        {% comment %}{% bs_icon 'alarm' %}{% endcomment %}
        {% block content %}
        <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
    </div>

</div>
</body>
{% endblock body %}
</html>
