{% block navbar_base %}
<nav class=" navbar-light bg-light">
    <a class="navbar-brand" href="#">NAVEGACION SITIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {%  if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'socios:familia_listado' %}" class="nav-link" >Listado de Familias Asociadas</a>
        </li>
        {% endif %} 
        {%  if user.is_authenticated and request.user.is_staff is True or perms.cuotas.cuota_ver %}
          <li class="nav-item"></li>
            <a href="{% url 'cuotas:gestion_cobranza_listado' %}"  class="nav-link">Gestion Cobranzas</a>
          </li>
        {% endif %}
        {%  if user.is_authenticated and request.user.is_staff is True or perms.pagos.cuota_ver %}
          <li class="nav-item"></li>
            <a href="{% url 'cuotas:gestion_pagos_listado' %}"  class="nav-link">Gestion Pagos</a>
          </li>
        {% endif %}

        {%  if user.is_authenticated and request.user.is_staff is True %}
          <li class="nav-item"></li>
            <a href="{% url 'admin:index' %}"  class="nav-link">Administracion</a>
          </li>
        {% endif %} 
        
        
      </ul>
      <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
    </div>
  </nav>
{% endblock navbar_base %}