{% extends "base_site.html" %}

{% block content %}
{% load crispy_forms_tags %}


<h1>Familia {{ familia.familia_crm_id }}</h1>

<h2>{{ op_title }}</h2>

<div class="post">
  <form method="POST" class="post-form table table-striped table-bordered table-hover table-responsive-xl">
    {% csrf_token %}
    {{ form|crispy }}
    {% if perms.socios.familia_crear %}
      <button type="submit" class="btn btn-success" type="submit" >{{ boton_aceptar }}</button>
    {% endif %}
  </form>

</div>


<a type="button" class="btn btn-danger" href="{% if familia_id == 0 %}
  {% url 'socios:familia_listado'  error_message=error_message|urlencode %}
{% else %}
  {% url 'socios:familia_detalle' familia_id=familia_id  error_message=error_message|urlencode %}
{% endif %}
">{{ boton_cancelar }}</a>

{% endblock content %}