{% block familia_miembros %}

{% if socios %}
<table id="example" class="table table-striped table-bordered table-hover table-responsive-xl" style="width:100%">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dni</th>
      <th scope="col">Creado</th>
      <th scope="col">Editado</th>
    </tr>
  </thead>
  <tbody >
  {% for socio in socios %}
  
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="/socios/socio/{{ socio.id }}">{{ socio.apellidos }},{{ socio.nombres }}</a></td>
      <td>{{ socio.dni }}</td>
      <td>{{ socio.creado }}</td>
      <td>{{ socio.actualizado }}</td>
    </tr>
  
    {% endfor %}
  </tbody>
  </table>
   
{% else %}
    <p>No familias are available.</p>
{% endif %}

{% endblock familia_miembros %}