{% extends "base_site.html" %}


{% block content %}


<h1>FAMILIA {{ familia.crm_id }} # {{ familia.familia_crm_id }}</h1>

{% block error_message %}
{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message|unquote_raw }}</div>{% endif %}
{% endblock error_message %}

<div class="card">
    <div class="card-title">
        <h2>Informacion</h2>
    </div>
    <div class="card-body">
        {% include "socios/familia_info.html" %}
    </div>
</div>

<div class="card">
    <div class="card-title">
        <h2>Miembros de la familia</h2>
    </div>
    <div class="card-body">
        {% include "socios/familia_miembros.html" %}
    </div>
</div>

<div class="card">
    <div class="card-title">
        <h2>Gestion Cobranza</h2>
    </div>
    <div class="card-body">
        {% include "cuotas/cuotas_lista.html" %}
    </div>
    <div class="card-body">
        {% include "cuotas/pagos_lista.html" %}
    </div>
</div>
<div class="card">
    <div class="card-title">
        <h2>Observaciones</h2>
    </div>
    <div class="card-body">
        {% include "socios/observaciones.html" %}
    </div>
</div>

{% endblock content %}