{% extends "base_site.html" %}

{% block content %}
<h1>FAMILIAS</h1>

{% block error_message %}
{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message|unquote_raw }}</div>{% endif %}
{% endblock error_message %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      {% if familias %}
      <table id="example" class="table table-striped table-bordered table-hover table-responsive-xl" style="width:100%">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">CRM ID</th>
            <th scope="col">Familia</th>
            <th scope="col">Soc.Cat.</th>
            <th scope="col">Ramas</th>
            <th scope="col">Modificado</th>
          </tr>
        </thead>
        <tbody>
          {% for familia in familias %}

          <tr>
            <th scope="row"><a href="{% url 'socios:familia_detalle' familia_id=familia.id %}">{{ forloop.counter }}</a></th>
            <td><a href="{% url 'socios:familia_detalle' familia_id=familia.id %}">{{ familia.crm_id }}</a></td>
            <td>{{ familia.familia_crm_id }}</td>
            <td data-toggle="tooltip" title="cant [ Benef / Dirig / Otros ]"> 
              {{ familia.stat_socios }} [ {{ familia.stat_beneficiarios }} / {{ familia.stat_dirigentes }} / {{ familia.stat_otros }} ]
            </td>
            <td data-toggle="tooltip" title="M/U/C/R" >
              {{ familia.stat_rama_manada }} {{ familia.stat_rama_unidad }} {{ familia.stat_rama_caminantes }} {{ familia.stat_rama_rovers }}
            </td>
            <td>{{ familia.actualizado|date:"SHORT_DATE_FORMAT" }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No se encontro ninguna familia.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-warning" href="{% url 'socios:familia_nuevo' familia_id=0 %}" >GENERAR NUEVA FAMILIA</a>
    </div>
  </div>
</div>

{% endblock content %}