{% extends "base_site.html" %}

{% block content %}
{% load crispy_forms_tags %}


<h1>Familia {{ familia.familia_crm_id }}</h1>

<h2>{{ op_title }}</h2>

<div class="post">
  <form method="POST" class="post-form table table-striped table-bordered table-hover table-responsive-xl">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        {% if not field.is_hidden %}
          {{ field.label_tag }} {{ field }} 
        {% endif %}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
    <button type="submit" class="btn btn-success" type="submit" >{{ boton_aceptar }}</button>
  </form>

</div>



<a type="button" class="btn btn-danger" href="/socios/familia/{{ familia.id }}">{{ boton_cancelar }}</a>
{% endblock content %}