{% extends "base_site.html" %}

{% block content %}
{% load crispy_forms_tags %}


<h1>Familia {{ familia.familia_crm_id }}</h1>

<h2>Eliminar Observacion</h2>

<div class="post" >
<form method="POST" class="post-form">{% csrf_token %}
  {{ form|crispy }}

<button type="submit" class="btn btn-danger" type="submit" class="save btn btn-default">ELIMINAR OBSERVACION - la operacion es definitiva.</button>
</form>
</div>

<a type="button" class="btn btn-primary" href="/socios/familia/{{ familia.id }}">No borrar la observacion y regresar a detalle familia {{ familia.familia_crm_id }}</a>

{% endblock content %}