{% block observaciones %}

{% if observaciones %}
<table id="example" class="table table-striped table-bordered table-hover table-responsive-xl" style="width:70%">
    <thead>
        <tr>
            <th scope="col">fecha</th>
            <th scope="col">detalle</th>
            <th scope="col">actualizado</th>
            <th scope="col">editar</th>
            <th scope="col">eliminar</th>
        </tr>
    </thead>
    <tbody>
    {% for observacion in observaciones %}
    
        <tr>
            <td>{{ observacion.creado}}</td>
            <td>{{ observacion.detalle}}</td>
            <td>{{ observacion.actualizado }}</td>
            <td><a class="btn btn-success" href={% url 'socios:observacion_nuevo' familia_id=familia.pk observacion_id=observacion.pk %}>EDITAR</a></td>
            <td><a class="btn btn-danger" href={% url 'socios:observacion_borrar' observacion_id=observacion.pk %}>BORRAR</a></td>
        </tr>
    
    {% endfor %}
    </tbody>
</table>

{% else %}
<p>No observaciones are available.</p>
{% endif %}

<a class="btn btn-warning" href="{% url 'socios:observacion_nuevo' familia_id=familia.pk observacion_id=0 %}" >GENERAR NUEVA OBSERVACION </a>

{% endblock observaciones %}