{% extends "base_site.html" %}

{% block content %}
{% block navbar_base %}
pepino
{% endblock %}


<!-- {% lorem 4 p random %} -->

<h1>Socio {{ socio.familia_crm_id }}</h1>

<h2>Datos del socio</h2>


{% if socio %}
<table id="example" class="table table-striped table-bordered table-hover table-responsive-xl" style="width:70%">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Dni</th>
    <th scope="col">Creado</th>
    <th scope="col">Editado</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>{{ socio.apellidos }},{{ socio.nombres }}</td>
    <td>{{ socio.dni }}</td>
    <td>{{ socio.creado }}</td>
    <td>{{ socio.actualizado }}</td>
  </tr>
</tbody>
</table>

{% else %}
<p>No socio is available.</p>
{% endif %}

<a type="button" class="btn btn-primary" href="/socios/familia/{{ socio.familia.id }}">Volver a familia {{ socio.familia.familia_crm_id }}</a>
{% endblock content %}