<!-- templates/registration/logout.html -->
{% include "templates/registration/" %}
{% extends 'base_site.html' %}

{% block title %}Lobo Organizado{% endblock %}

{% block content %}

<div class="card" style="width: 20rem;">
  <img src="/static/favicon.ico" class="card-img-top" alt="Aplicativo Lobo Organizado"  >
  <h2 class="card-title">Ingrese con su cuenta</h2>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Log In ###</button>
    </form>
     
  </div>
</div>


{% endblock %}