{% extends "base_site.html" %}

{% block content %}
{% load crispy_forms_tags %}

<h1>Pago de cuota social familia {{ familia.crm_id }} # {{ familia.familia_crm_id }}</h1>

{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}


<div class="post">

    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}


<form action="{% url 'cuotas:procesa_nuevo_pago' familia_id=familia.id %}" method="post" class="post-form table table-striped table-bordered table-hover table-responsive-xl">
    {% csrf_token %}
    <div class="form-group">
        <label for="seleccion_de_plan">Seleccione el plan al cual cargar el pago</label>
        <select class="form-control" name="plan_de_pago_id" required>
            {% for plan_pago in planes_de_pago %}
                <option value="{{ plan_pago.id }}" 
                    {% if pago.aplica_pago_plan == plan_pago.id %}selected {% endif %} >
                    {{ plan_pago.nombre }} [cuota ${{ plan_pago.importe_cuota }}]
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="importe_pago">Fecha de cobro del pago a ingresar</label>
        <input type="date" name="fecha_cobrado" required value="{{ pago.fecha_cobro|date }}" />
    </div>
    <div class="form-group">
        <label for="importe_pago"> 
            {% if pago.id %}
                Importe actual del pago a ingresar $ {{ pago.importe }}
            {% else %}
                Ingrese el importe cobrado
            {% endif %}
        </label>
        <input type="number" name="importe_cobrado" value="{{ pago.importe }}" required min="0" step="0.01" data-number-to-fixed="2" class="form-control currency" />
    </div>

    <input type="hidden" value="{{ familia.id }}" name="familia_id" />

    </select>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Aplicar pago</button>
         <a href="{% url 'socios:familia_detalle' familia_id=familia.id error_message=pago_error_message|urlencode %}" class="btn btn-danger"
            type="submit">Cancelar</a>
     
        <!--<input type="submit" value="Aplicar pago"> -->
    </div>
</form>
</div>

{% endblock content %}