{% extends "base_site.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}

<h1>Familia {{ cuota.familia.familia_crm_id }}</h1>

<h2>Edicion de cuota social<h2>

{% comment %}{%  include "form_errors.html" %}{% endcomment %}

<div class="post">
  <form method="POST" class="post-form table table-striped table-bordered table-hover table-responsive-xl">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success" type="submit" >Confirmar modificacion</button>
  </form>
</div>



<a type="button" class="btn btn-danger" href="{% url 'socios:familia_detalle' familia_id=cuota.familia.pk error_message='Operacion Edicion Cuota Social cancelada'|urlencode %}">Cancelar Edicion cuota</a>

{% endif %}

{% endblock content %}