{% extends "base_site.html" %}

{% block content %}
<h1>Listado de cuotas vencidas</h1>

{% block error_message %}
{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message|unquote_raw }}</div>{% endif %}
{% endblock error_message %}

<div class="container">
  <div class="col">
    <div class="row">
      <form type="get" action="{% url 'cuotas:gestion_cobranza_listado' %}" style="margin: 0">

        

        <label for="f_familia" class="form-label">Nombre Familia </label>
        <input  id="f_familia" class="form-control" type="text" name="f_familia"  placeholder="Busqueda por familia..." value="{{ f_familia|default:'' }}" title="Busqueda por parte o todo el nombre de familia" \>
        <div class="col" >
<!--           <label for="f_start_date" class="form-label">Desde</label>
          <input id="f_start_date"   class="form-control" type="date" name="f_start_date" placeholder="Busqueda por familia..."
          value="{{ f_start_date }}" title=" dejar vacio y presionar 'Buscar' para no filtrar" \> -->
      
          <label for="f_end_date" class="form-label">Fecha Corte</label>
          <input id="f_end_date" class="form-control" type="date" name="f_end_date" placeholder="Busqueda por familia..."
          value="{{ f_end_date|default:'99' }}" title=" dejar vacio y presionar 'Buscar' para no filtrar" \>
        </div>
        <div class="col">
        <label class="form-label">Solo plan</label>
        <!-- TODO  CONVERTIR A LISTA PARA SELECCIONAR 1 , o TODOS por default -->
        
        <select name="planes_de_pagos" id="planes_de_pagos">
          <option  value="0" {% if not f_plan or f_plan|add:"0" == 0 %}selected="selected"{% endif %}>--- TODOS ---</option>
          {% for plan in lista_planes %}
            <option value="{{plan.id}}"
              {% if plan.id|add:"0" == f_plan|add:"0"  %}selected="selected"{% endif %}>
                {{ f_plan|add:"0" }} {{ plan.id|add:"0" }} {{ plan.nombre }}
              </option>
          {% endfor %}
        </select>
      </div>
      <div class="col btn btn-secondary active"> 
          <input id="report_export_on" name="report_export_on" type="checkbox"  class="form-label" > Reporte PDF </input>
          <input id="report_export_all" name="report_export_all" type="checkbox"  class="form-label" checked> Todos los registros</input>
      
        <button id="search_submit" class="btn btn-info" type="submit">Buscar!</button>
        <button formaction="{% url 'cuotas:gestion_cobranza_listado' clean_filters='true' %}" id="search_submit" class="btn btn-info" type="submit"
          title="Limpiar Filtro"><span>Limpiar Filtro</span></button>
        </div>
        <div class="col">
          <label for="f_familia" class="form-label">Solo deudas</label>
          <input id="solo_listar_deudas" name="solo_listar_deudas" type="checkbox"  class="form-label" {% if solo_listar_deudas %} checked  {% endif %}> 
        </div>
      </form>
    </div>
  </div>
</div>


{% if perms.cuotas.cuota_ver   %}

  <table id="example" class="table table-striped table-bordered table-hover table-responsive-xl" style="width:100%">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Flia</th>
        <th scope="col">Plan</th>
        <th scope="col">Vencido</th>
        <th scope="col">Cobrado</th>
        <th scope="col">Saldo Vdo</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      {% if page_obj.paginator.count %}
      {% for registro in page_obj %}

          <tr>
            <th scope="row"><a href="{% url 'socios:familia_detalle' familia_id=registro.familia.id %}">{{ forloop.counter }}</a></th>
            <td><a href="{% url 'socios:familia_detalle' familia_id=registro.familia.id %} "
              title="{{ cuota.familia.familia_crm_id }}">{{ registro.familia.crm_id }}#{{ registro.familia.familia_crm_id }}</a></td>
            <td><a href="{% url 'cuotas:gestion_cobranza_familia' familia_id=registro.familia.id %} "
              title="detalle cuotas y pagos">{{ registro.plan_de_pago.crm_id }}</a></td>
            <td>{{ registro.cuotas_vencidas_importe }}</td>
            <td>{{ registro.pagos_importe }}</td>
            <td>{% if registro.balance < 0  %} A/C {% endif %} {{ registro.balance|absolute }}</td>
            <td>{{ registro.estado }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--Pagination-->
  <div class="container">
    <div class="pagination justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination"></ul>
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link"  href="?page=1&search_box={{ search_query|default:'' }}">&laquo; 1</a></li>
          <li class="page-item"><a class="page-link"  href="?page={{ page_obj.previous_page_number }}&search_box={{ search_query|default:'' }}">previous</a></li>
          {% endif %}
          <li class="page-item">
            <span class="page-link active" >
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link"  href="?page={{ page_obj.next_page_number }}&search_box={{ search_query|default:'' }}">next</a></li>
          <li class="page-item"><a class="page-link"href="?page={{ page_obj.paginator.num_pages }}&search_box={{ search_query|default:'' }}">last &raquo;</a></li>
          {% endif %}
          </ul>
        </nav>
        </div>
    </div>
  <!--end of Pagination-->
  {% else %}
  <tr>
    <th scope="row">SIN REGISTROS</th>
    </tr>
  {% endif %}
{% else %}
  <label class="btn btn-secondary">NO AUTORIZADO "VER CUOTAS"</label>
{% endif %}


{% endblock content %}