{% extends "base_site.html" %}

{% block content %}
{% load crispy_forms_tags %}


<h1>Generar cuotas a familia {{ familia.crm_id }}#{{ familia.familia_crm_id }}</h1>

<h2>{{ op_title }}</h2>

<div class="post">
  <form method="POST" class="post-form table table-striped table-bordered table-hover table-responsive-xl">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success" type="submit" >{{ boton_aceptar }}</button>
  </form>

</div>



<a type="button" class="btn btn-danger" href="{% url 'socios:familia_listado' error_message='Operacion cancelada' %}">{{ boton_cancelar }}</a>
<a type="button" class="btn btn-danger" href="{% url 'cuotas:nuevo_cuotas_plan_seleccion' familia_id=familia.id %}">ATRAS</a>


{% endblock content %}